@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/* clear/set defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}



a {
    text-decoration: none;
    color: #3a3a3a;
}

a:hover{
    color: darkgoldenrod;
    border-bottom: 2px solid darkgoldenrod;;
}

body {
    font-family: sans-serif, serif;
    color: #3a3a3a;
}

p {
    font-size: large;
    
}

h2, h3{
    font-family: 'Source Serif Pro',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
    margin-bottom: 2px;
    text-decoration-line: underline;
}

/* header, h1 and logo */
header {
    display: flex;
    flex-direction: column;
  }
  

#logo{
    float: left;
    margin: 30px 0 0 20px;
}

h1 {
    font-family: 'Source Serif Pro',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
    margin: 10px 0 50px 0;
    
}

 

/*header navigation menu*/

#menu {
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: aliceblue;   
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    margin: auto 0 auto 0;
    list-style-type: none;
    font-size: larger;
    font-weight: bolder;
}

.active {
    border-bottom: 2px solid black;
    
}
/*table of contents section*/
#table-contents {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
}

  .table-of-contents-links {
    border: 1.5px solid black;
    width: 280px;
    height: 410px;
    padding-left: 20px;
}

.table-of-contents-links h3{
    margin-top: 10px;
}

#table-contents ol {
    padding: 10px;
}

#table-contents li {
    margin: 5px;
}

#main-mc-img {
    height:500px;
    width: 500px;
    background: url("../images/michael-collins1.webp") no-repeat center /cover;
    border-radius: 50%;
}

#mc-fact {
    float: right;
    border: 1.5px solid black;
    width: 280px;
    padding: 10px;
   
}

#mc-fact p {
    padding: 10px;
}

/*timeline section*/
#timeline {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 50px 35px 20px 35px;
}

#timeline h2 {
    background-color: white;
    margin: -19px auto 0 auto;
    width: fit-content;
    text-decoration: none;
    font-size: xx-large;
}

.info-section-left, .info-section-right  {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-section-right {
    flex-direction: row-reverse;
}
.info-section-left {
    flex-direction: row;
}
.info-section-left img, .info-section-right img {
    height: 280px;
    
} 

#signature-img {
    height: 100px;
}

.main-info-left {
   float: left;
}

.main-info-right {
    float: right;
}

.main-info-right, .main-info-left {
    width: 50%;
    padding: 20px;    
    border: 2px solid brown;   
    text-align: center;

}
/*Gallery.html*/

  .gallery {
    max-width: 95%;
    margin:30px auto;
    border: 1px solid #252525;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
    flex-wrap:  wrap;
    align-items: center;
    padding: 20px;
  }

  .gallery img {
    max-width: 200px;
  }
  
  /*form*/
  .form {
    display: flex;
    background: url("../images/mc-funeral.webp");
    background-size: cover;
    background-position: center;
    height: 900px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



.form-fields {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 800px;
    max-height: 600px;
    padding: 30px;
}

.form-fields > h2 {
    color: #fafafa;
    margin-bottom: 40px;
    text-decoration: none;
    
}
.form-fields > p {
    color: #fafafa;
    margin-bottom: 40px;
    text-decoration: none;
    
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.submit {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.submit:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

  
  
  
  

/*footer*/
footer {
    height: 100px;
    margin: 100px 10px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 90%;
    margin: 50px auto;
}

.social-media-links {
    text-align: center;
}

.social-media-links li{
    display: inline;
    margin: 3%;

}

.social-media-links i{
    font-size: 150%;
}

.w3c-css-logo {
    text-align: center;
   margin-top: 50px;
}

/*reponsive design for tablets*/
@media screen and (max-width: 1200px) {

  

    #table-contents {
        margin: 20px 0 20px 0;
        flex-direction: column-reverse;
        justify-content: center;
    }
    

      #main-mc-img {
        height:300px;
        width: 300px;
        margin: 30px auto 30px auto;
    }

    #mc-fact {
        width: 600px;
        padding: 10px;
        margin: 30px auto 30px auto;
    }

    .table-of-contents-links {
        width: 600px;
        height: fit-content;
        padding: 10px;
        margin: 30px auto 30px auto;
    }

    
    .info-section-left img, .info-section-right img {

        max-height: 260px;
        max-width: 300px;
    } 

    #signature-img {
        height: 50px;
    }
} 

/*responsive design for mobile devices*/
@media screen and (max-width: 900px) {
    #menu {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 300px;
        text-align: center;
        letter-spacing: 2px;
        margin: auto  auto;
    }
    
    #menu li {
        margin: auto 0 auto 0;
        list-style-type: none;
        font-size: large;
        font-weight: bolder;
    }
    #table-contents {
        margin: 20px 10px 20px 10px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    

      #main-mc-img {
        height:300px;
        width: 300px;
        margin: 30px auto 30px auto;
    }

    #mc-fact {
        width: fit-content;
        padding: 10px;
        margin: 30px 0 30px 0;
    }

    .table-of-contents-links {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        margin: 30px auto 30px auto;
    }

    #timeline {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin: 50px 5px 20px 5px;
    }
    
    #timeline h2 {
        background-color: white;
        margin: -19px auto 0 auto;
        width: fit-content;
        text-decoration: none;
        font-size: xx-large;
    }
    
    .info-section-left img, .info-section-right img {
        max-height: 160px;
        max-width: 200px;
        margin: 30px auto ;
    } 

    .info-section-left, .info-section-right  {
        display: flex;
        flex-direction: column;
        
    }

    #signature-img {
        height: 50px;
    }

    .main-info-right, .main-info-left {
        width: 80%;
        margin: auto auto;
    }
    
} 