@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/* clear/set defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}



a {
    text-decoration: none;
    color: #3a3a3a;
}

a:hover{
    color: darkgoldenrod;
}

body {
    font-family: sans-serif, serif;
    color: #3a3a3a;
}

p {
    font-size: large;
    
}

h2, h3{
    font-family: 'Source Serif Pro',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
    margin-bottom: 2px;
    text-decoration-line: underline;
    
}

/* headings and logo */
header {
    display: flex;
    flex-direction: column;
  }
  

#logo{
    float: left;
    margin: 30px 0 0 20px;
}

h1 {
    font-family: 'Source Serif Pro',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
    margin: 10px 0 50px 0;
    
}

 

/*header navigation menu*/

#menu {
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    background-color: aliceblue;   
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    margin: auto 0 auto 0;
    list-style-type: none;
    font-size: larger;
    font-weight: bolder;
}

/*table of contents section*/
#table-contents {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
}

  .table-of-contents-links {
    border: 1.5px solid black;
    width: 280px;
    height: 410px;
    padding-left: 20px;
}

.table-of-contents-links h3{
    margin-top: 10px;
}

#table-contents ol {
    padding: 10px;
}

#table-contents li {
    margin: 5px;
}

#main-mc-img {
    height:500px;
    width: 500px;
    background: url("../images/michael-collins1.webp") no-repeat center /cover;
    border-radius: 50%;
}

#mc-fact {
    float: right;
    border: 1.5px solid black;
    width: 280px;
    padding: 10px;
   
}

#mc-fact p {
    padding: 10px;
}

/*timeline section*/
#timeline {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 50px 35px 20px 35px;
}

#timeline h2 {
    background-color: white;
    margin: -19px auto 0 auto;
    width: fit-content;
    text-decoration: none;
    font-size: xx-large;
}

.info-section-left, .info-section-right  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-section-left img, .info-section-right img {
    height: 280px;
    
} 

#signature-img {
    height: 100px;
}

.main-info-left {
   float: left;
}

.main-info-right {
    float: right;
}

.main-info-right, .main-info-left {
    width: 50%;
    padding: 20px;    
    border: 2px solid brown;   
    text-align: center;

}





/*footer*/
footer {
    height: 100px;
    margin: 100px 10px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 90%;
    margin: 50px auto;
}

.social-media-links {
    text-align: center;
}

.social-media-links li{
    display: inline;
    margin: 3%;

}

.social-media-links i{
    font-size: 150%;
}

.w3c-css-logo {
    text-align: center;
   margin-top: 50px;
}

@media screen and (max-width: 1200px) {

  

    #table-contents {
        margin: 20px 0 20px 0;
        flex-direction: column-reverse;
        justify-content: center;
    }
    

      #main-mc-img {
        height:300px;
        width: 300px;
        margin: 30px auto 30px auto;
    }

    #mc-fact {
        width: 600px;
        padding: 10px;
        margin: 30px auto 30px auto;
    }

    .table-of-contents-links {
        width: 600px;
        height: fit-content;
        padding: 10px;
        margin: 30px auto 30px auto;
    }

    
    .info-section-left img, .info-section-right img {

        max-height: 260px;
        max-width: 300px;
    } 

    #signature-img {
        height: 50px;
    }
} 

@media screen and (max-width: 900px) {

    
    
} 